.signUp {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--primary-background-color);
  position: relative;
}

.container {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr 3fr;
  flex-direction: column;
  /* box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.103); */
  overflow: hidden;
  overflow-y: scroll;
  /* border-radius: 16px;
  border: var(--primary-border); */
  width: 100%;
  /* padding-top: 54px; */
  box-sizing: border-box;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-left: 16px;
}

.headerText {
  color: var(--primary-font-color);
  font-size: 38px;
  font-weight: bold;
  cursor: default;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  margin-top: 24px;
  width: 60%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.input {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: var(--secondary-border);
  border-radius: 8px;
  height: 32px;
  margin: 8px 0 4px 0;
}

.username {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 80%;
  color: gray;
  border-right: var(--secondary-border);
}

.searchInputBox {
  width: 100%;
  text-align: left;
  border: 0px solid rgba(124, 124, 124, 0);
  background: rgba(32, 32, 32, 0);
  color: var(--primary-font-color);
  font-size: 12px;
  margin-left: 8px;
}

.inputBox {
  width: 100%;
  text-align: left;
  border: 0px solid rgba(124, 124, 124, 0);
  background: rgba(32, 32, 32, 0);
  color: var(--primary-font-color);
  font-size: 12px;
  margin-left: 16px;
}

.inputLabelDiv {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  margin-top: 16px;
}

.inputLabel {
  font-size: 12px;
  margin-left: 16px;
  color: var(--primary-font-color);
}

.helperDiv {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}

.nameHelper {
  font-size: 11px;
  margin-left: 16px;
  color: var(--secondary-font-color);
}

.signUpButton {
  background-color: black;
  padding: 0 32px;
  height: 36px;
  width: 140px;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  transition: box-shadow 0.25s;
  border: var(--primary-border);
  color: white;
  margin: 24px 0 16px 0;
}

.loginText {
  font-size: 12px;
  color: var(--secondary-font-color);
}

.signInLink {
  color: var(--primary-font-color);
}

/*$ Image side */

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  height: 100vh;
  background-image: url('https://image.freepik.com/free-vector/verification-technologies-abstract-concept-illustration_335657-3894.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: var(--image-filter);
}

/*! already logged in */

.notFoundContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 320px;
  overflow: hidden;
  border-radius: 16px;
  color: var(--secondary-font-color);
  gap: 24px;
}

.notFoundContainer > h3 {
  color: var(--secondary-font-color);
}

.returnButton {
  background-color: rgb(255, 255, 255);
  color: var(--secondary-font-color);
  padding: 0 32px;
  height: 36px;
  font-size: 19px;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  font-weight: bold;
  transition: box-shadow 0.25s;
  border: 1px solid rgb(214, 214, 214);
}

@media only screen and (max-width: 850px) {
  .signUp {
    padding-top: 0;
    padding: 0 0 54px 0;
    overflow: hidden;
  }

  .container {
    width: 95vw;
    height: 80vh;
    box-shadow: none;
  }
}
